name: lint
on:
  push:
    branches-ignore:
    - staging
    - production
jobs:
  format:
    name: format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - uses: actions/checkout@v3

      - name: gofmt
        uses: wearerequired/lint-action@v2
        with:
          gofmt: true

